


/* large devices: medium laptop 1920??*/
@media only screen and (min-width: 992px) { 
    .bootsimages img{
        width: 30%;
        height: auto; 
        padding: 0.5%;
        justify-content: center;
        object-fit: cover;
        object-position: bottom;     
    } 
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5%;
      }
      .column {
        flex: 25%;
        padding: 0.5%;
      }
  }

  /* medium devices: tablet */
 /* @media only screen and (min-width: 600px){
    .bootsimages img{
        max-width: 50%;
        min-width: 5%;
        height: auto; 
        padding: 0.5%;
        justify-content: center;
    
     }
  } */


  /* small device */
  @media only screen and (max-width: 600px) {
    .bootsimages img{
        max-width: 20%;
        min-width: 5%;
        height: auto; 
        padding: 0.5%;
        justify-content: center;
        object-fit: cover;
        object-position: bottom;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5%;
  
      }
      .column {
        flex: 25%;
        padding: 0.5%;
      }
  }


/* small devices: small phones */
  @media only screen and (min-width: 360px){
    .bootsimages img {
        max-width: 100%;
        min-width: 400px;
        height: auto;
        justify-content: center;
        object-fit: cover;
        object-position: bottom;
     }
     .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5%;
      }
      .column {
        flex: 25%;
        padding: 0.5%;
      }
} 
