*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
} 
nav{
  background: black;
  align-items: center;
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  padding: 0 50px 0 100px;
}
nav .logo{
  color: white;
  font-size: 36px;
  font-weight: 600;
  margin-left: -40px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: gray;
  background: white;
}
nav .menu-btn i{
  color: black;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 50px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: gray;
    height: 920px;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.5s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #e69112;
  }
} 