body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 5%;
    padding: 13%;
    text-align: center;  
    background-color: whitesmoke; 
  }

  /* image */
  main img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
body h1.pageName{
    font-size:50px;
}
/* font size for h2 */
main h2{
    font-size: 15px;
}

/* button related bellow */
  .button {
    transition-duration: 0.4s;
  }
  
  .button {
    background-color: #2E3133; /* black */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  /* turns gray when hover */
  .button:hover {
    background-color: #949BA0; /*gray*/
    color: white;
  }

  /* hide content about each leather */
    main #onClick {
    padding:1rem;
    display: none;
    transition:opacity 0.5s;
} 

